svg {
    width: 300px;
    margin: auto auto;
}

.demo {
    stroke-dashoffset: -5981;
    stroke-dasharray: 5981;
    animation-name: draw-monkey;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.cls-1 {
    stroke-dashoffset: -582;
    stroke-dasharray: 582;
    animation-fill-mode: forwards;
}

.cls-2 {
    display: none;
}

.letters {
    animation: logo-letters 1s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes draw-logo {
    from {
        stroke-dashoffset: -582;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-letters {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 
h1 {
    text-align: center;
}

path.cls-4 {
    stroke-dashoffset: -5134;
    stroke-dasharray: 5134;
    animation-name: draw-flower;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes draw-flower {
    from {
        stroke-dashoffset: -5134;
    }
    to {
        stroke-dashoffset: 0;
    }
}
